*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
header{
    background: linear-gradient(rgba(0, 0, 0, 0.628),rgba(0, 0, 0, 0.71)),url("images2/portfolio3.jpg");
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 20px;
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
}
.logo h1{
    width: 90px;
    float: left;
    height: auto;
    margin-top: 25PX;
    color: #fff;
}
.content{
    width: fit-content;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Georgia;
    font-size: large;
    color: white;
}
body{
    background-color: rgb(0, 0, 0);
}
div.gallery {
    margin: 5px;
    border: none;
    float: left;
    width: 200px;
}  
div.gallery:hover {
    border: none;
}  
div.gallery img {
    width: 100%;
    height: 45vh;
}
  
div.desc {
    padding: 15px;
    text-align: center;
    color: #fff;
}
.h3{
    text-align: left;
}
.content{
    margin: 50px;
    background: black;
    border-radius: none;
}
label{
    font-size: large;
}
input[type=text], input[type=email], textarea{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: content-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border: none;
}
input[type=submit]{
    background: #fff;
    margin: 0;
    color: black;
    padding: 10px 15px;
    border-radius: 4px;
    transition: all ease-in-out 0.2s;
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
input[type=submit]:focus{
    background: rgba(0, 0, 0, 0.493);
    color: #fff;
}
input[type=submit]:hover{
    background: rgba(12, 12, 12, 0.477);
    color: #fff;
}
.center{
    text-align: left;
}
.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;    
}
.welcome-text h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}
.welcome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}
.welcome-text a:hover{
    background: #fff;
    color: #333;
}